<div class="title">
    <h1>Edit Wiki</h1>
</div>

<div class="row">
    <%= render partial: 'form', locals: { wiki: @wiki } %> <br />
    <% if current_user == @wiki.user %>
        <%= link_to "Add Collaborator", new_wiki_collaborator_path(@wiki, @collaborator), class: 'btn btn-success' %>
    </br></br>
        <% if @wiki.collaborators.count > 0 %>
            <h4>Wiki Collaborators:</h4>
            <div class="row">
                <% @wiki.collaborators.all.each do |c| %>
                    <p><%= c.user.email %>
                        <%= link_to " [delete]", [@wiki, c], class: "del-collab", method: :delete, data: {confirm: 'Are you sure you?'} %>     
                    </p>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>
